body {
    font-size: 16px;
    color: get-color(white);
    @media (min-width: 768px) {
        font-size: 18px;
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

a {
    color: get-color(white);
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

ul {
    padding-left: 0;
    li {
        list-style: none;
    }
}