.artists {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        li {
            text-align: center;    
            width: 50%;
            img {
                border-radius: 50%;
            }
        }
    }
    h2 {
        padding-bottom: 2rem;
    }
    @media (max-width: 350px) {
        li {
            width: 100% !important;
        }
    }
    @media (min-width: 768px) {
        ul {
            li {
                width: 175px;
                height: 250px;
            }   
        }
    }
}